.app{
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/299/187/587/mountain-in-rise-weather-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: grid;
    height: 100%;
    min-height: 100vh;
    padding: 30px;
    justify-items: center;
    align-items: center;
}

.header{
    position: sticky;   
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;

    
}

.cards{
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    
}

.card{
    display: flex;
    justify-content: center;
    
}